# ignore trajectory .csv files and plots
src/path_integral/scripts/trajectory_files/*

# ignore trained model files
src/path_integral/scripts/models/*

# ignore rosbag files
src/path_integral/scripts/rosbag_files/*
*.bag

# ignore preprocessed plots and .csv files
src/path_integral/scripts/preprocess_plots/*
*.csv

# ignore pipeline files
src/path_integral/scripts/pipeline_files/*

# ignore profiler files
*.nvvp

# include ssl-vision dir
!src/path_integral/scripts/ssl_vision/*